@import '../../../../../libs/wapel-lib/src/lib/assets/scss/variables/hr_variables.scss';
$header-height: 5rem;
$company-sidebar-width: 88px;

// gray colors
$content-bg-gray1: #f1f5f9;
$body-bg-color: #f1f5f9;
