<section class="employees-page-wrapper">
  <grid-container>
    <div
      class="col-12 bg-gray-200 my-3 py-3 flex flex-row justify-content-between align-items-center"
    >
      <h1 class="m-0 text-2xl font-bold">Employees</h1>

      <button
        type="button"
        class="p-button p-button-raised"
        pButton
        icon="pi pi-plus"
      ></button>
    </div>
    <div class="col-12">
      <p-table
        [value]="employeesList()"
        [responsive]="true"
        [paginator]="true"
        [rows]="10"
        styleClass="p-datatable-striped"
      >
        <ng-template pTemplate="header">
          <tr>
            <th>Id</th>
            <th>First name</th>
            <th>Last name</th>
            <th>Email</th>
            <th>Salary</th>
            <th>Job</th>
            <th>Department</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-emps>
          <tr>
            <td>
              {{ emps.employee_id }}
            </td>
            <td>
              {{ emps.first_name }}
            </td>
            <td>
              {{ emps.last_name }}
            </td>
            <td>
              {{ emps.email }}
            </td>
            <td>
              {{ emps.salary | currency }}
            </td>
            <td>
              {{ emps.job_id }}
            </td>
            <td>
              {{ emps.department_id }}
            </td>
          </tr>
        </ng-template>

        <!-- <ng-template pTemplate="summary"> your summary template </ng-template> -->
      </p-table>
    </div>
  </grid-container>
</section>
