<section class="dashboard-page-wrapper">
  <!-- first row -->
  <div class="grid p-fluid py-3 px-2">
    <div class="col-4">
      <p-card header="Some Dta here" subheader="some sub title goes here">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Velit
        repellendus mollitia, impedit amet rem porro exercitationem blanditiis
        accusamus consequuntur voluptate, illo nisi totam maxime, cupiditate et
        nesciunt? Iusto, ex sit.
      </p-card>
    </div>
    <div class="col-4">
      <p-card header="Some Dta here" subheader="some sub title goes here">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Velit
        repellendus mollitia, impedit amet rem porro exercitationem blanditiis
        accusamus consequuntur voluptate, illo nisi totam maxime, cupiditate et
        nesciunt? Iusto, ex sit.
      </p-card>
    </div>
    <div class="col-4">
      <p-card header="Some Dta here" subheader="some sub title goes here">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Velit
        repellendus mollitia, impedit amet rem porro exercitationem blanditiis
        accusamus consequuntur voluptate, illo nisi totam maxime, cupiditate et
        nesciunt? Iusto, ex sit.
      </p-card>
    </div>
  </div>
</section>
