<section class="depts-page-wrapper relative">
  <div class="grid p-fluid">
    <div class="col-6">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptate iusto
      deserunt obcaecati quis magnam, assumenda unde mollitia. Hic iusto cum
      quisquam, blanditiis deleniti magnam quidem nostrum dolorum officia ipsa
      sapiente!
    </div>
    <div class="col-6">
      <p-panel styleClass="bg-green-100">
        <p-header> your header template </p-header>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et veniam
        expedita iusto iste necessitatibus cum sapiente quod dolorum eligendi
        amet possimus pariatur numquam quos ab facilis, unde consequatur officia
        rem.
        <p-footer> your footer template </p-footer>
      </p-panel>
    </div>
  </div>
</section>
