<section class="header-notification p-fluid" wapelRtl>
  <ngx-spinner
    [name]="'header-notification-spinner'"
    [fullScreen]="false"
    [type]="'ball-fussion'"
    [size]="'medium'"
    bdColor="rgba(0, 0, 0, 0.4)"
    color="#fff"
  ></ngx-spinner>
  <div class="notification-content p-2">
    <h1 class="m-0 text-xl font-bold">Notification</h1>
  </div>
  <div class="notification-footer relative w-full h-3 bg-blue-200 p-2">
    <div class="p-dluid flex flex-row justify-content-between align-items-center">
      <span>Mark all as read</span>
      <span>anothre action</span>
    </div>
  </div>
</section>
