.header-widget {
    position: absolute;
    top: 49px;
    right: 0;
    left: unset;
    width: 400px;
    height: 550px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: lightslategray;
    padding: 5px 0px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    &.rtl {
        right: unset;
        left: 0;
    }
}