<section class="header-widget p-fluid" wapelRtl>
  <ngx-spinner
    [name]="'header-notification-spinner'"
    [fullScreen]="false"
    [type]="'ball-fussion'"
    [size]="'medium'"
    bdColor="rgba(0, 0, 0, 0.4)"
    color="#fff"
  ></ngx-spinner>
  <div class="notification-content p-2">
    <h1 class="m-0 text-xl font-bold">App Widget</h1>
  </div>
  <div class="notification-footer relative w-full h-3 bg-blue-200 p-2">
    <div class="p-fluid flex flex-row justify-content-between align-items-center">
      <div class="card mx-1">widget 1</div>
      <div class="card mx-1">widget 2</div>
      <div class="card mx-1">widget 3</div>
    </div>
  </div>
</section>
