.company-profile-sidebar-wrapper {
  position: relative;
  .navbar {
    position: fixed;
    width: 100px;
    height: 100%;
    top: 0;
    left: 0;
    background-color: white;
    padding: 15px 20px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    overflow: hidden;
    overflow-x: hidden;
    z-index: 999;
    transition: width 0.2s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    .company-logo {
      position: relative;
    }

    .company-menu-wrapper {
      list-style-type: none;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      padding: 0;
      li {
        margin: 8px 0px;
        padding: 8px;
        line-height: 0;
        transform: scale(1);
        width: 100%;
        transition: all 0.2s ease-in;

        span {
          display: none;
          opacity: 0;
          transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
        }
        &.active {
          background-color: olivedrab;
          border-radius: 8px;
        }
        a {
          text-decoration: none;
        }

        &:hover {
          transform: scale(1.2);
          span {
            font-weight: bold;
          }
        }
      }
    }

    &:hover {
      width: calc(100px * 3);
      .company-menu-wrapper {
        li {
          span {
            display: initial;
            opacity: 1;
          }
        }
      }
    }

    &.rtl {
      left: unset;
      right: 0;
    }
  }
}
