<div class="company-profile-sidebar-wrapper" wapelRtl>
  <div class="navbar shadow-2" wapelRtl>
    <div class="company-logo">
      <img src="/assets/images/Logo.svg" alt="logo" />
    </div>

    <ul class="company-menu-wrapper my-3">
      <li class="active">
        <a>
          <img src="/assets/icons/grid-outline.svg" alt="grid" loading="lazy"
        /></a>
        <span class="mx-2 text-sm font-semibold">Dashboard</span>
      </li>
      <li>
        <a>
          <img
            src="/assets/icons/employees-outline.svg"
            alt="employees"
            loading="lazy"
        /></a>
        <span class="mx-2 text-sm font-semibold">Employees</span>
      </li>
      <li>
        <a>
          <img
            src="/assets/icons/announcement-outline.svg"
            alt="announcement-outline"
            loading="lazy"
        /></a>
        <span class="mx-2 text-sm font-semibold">Announcment</span>
      </li>
      <li>
        <a>
          <img
            src="/assets/icons/App Switcher.svg"
            alt="App Switcher"
            loading="lazy"
        /></a>
        <span class="mx-2 text-sm font-semibold">Switcher</span>
      </li>
      <li>
        <a>
          <img
            src="/assets/icons/business-trips-outline.svg"
            alt="business-trips"
            loading="lazy"
        /></a>
        <span class="mx-2 text-sm font-semibold">Business Trips</span>
      </li>
      <li>
        <a>
          <img
            src="/assets/icons/calendar-outline.svg"
            alt="calendar-outline"
            loading="lazy"
        /></a>
        <span class="mx-2 text-sm font-semibold">Calendar</span>
      </li>
      <li>
        <a>
          <img
            src="/assets/icons/help-outline.svg"
            alt="help-outline"
            loading="lazy"
        /></a>
        <span class="mx-2 text-sm font-semibold">Help</span>
      </li>
      <li>
        <a>
          <img
            src="/assets/icons/performance-outline.svg"
            alt="performance"
            loading="lazy"
        /></a>
        <span class="mx-2 text-sm font-semibold">Performance</span>
      </li>
      <li>
        <a>
          <img
            src="/assets/icons/time-off-outline.svg"
            alt="time-off"
            loading="lazy"
        /></a>
        <span class="mx-2 text-sm font-semibold">Time Off</span>
      </li>
      <li>
        <a>
          <img src="/assets/icons/Receipt.svg" alt="Receipt" loading="lazy"
        /></a>
        <span class="mx-2 text-sm font-semibold">Receipt</span>
      </li>
      <li>
        <a>
          <img
            src="/assets/icons/settings-outline.svg"
            alt="settings"
            loading="lazy"
        /></a>
        <span class="mx-2 text-sm font-semibold">Settings</span>
      </li>
    </ul>
  </div>
</div>
