<div class="company-profile-sidebar-wrapper" wapelRtl>
  <div class="navbar shadow-2" wapelRtl>
    <div class="company-logo">
      <img src="/assets/images/Logo.svg" alt="logo" />
    </div>

    <ul class="company-menu-wrapper my-3">
      <ng-container *ngFor="let item of navLinks()">
        <li [routerLink]="[item.url]" routerLinkActive="active">
          <div class="flex flex-row justify-content-center align-items-center">
            <a>
              <img
                src="/assets/icons/grid-outline.svg"
                alt="grid"
                loading="lazy"
            /></a>
            <span class="mx-2 text-sm font-semibold">{{ item.label }}</span>
          </div>
        </li>
      </ng-container>
    </ul>
  </div>
</div>
