<div class="company-profile-sidebar-wrapper" wapelRtl>
  <div class="navbar shadow-2" wapelRtl>
    <div class="company-logo">
      <img src="/assets/images/Logo.svg" alt="logo" />
    </div>

    <ul class="company-menu-wrapper my-3">
      <li class="active">
        <a>
          <img src="/assets/icons/grid-outline.svg" alt="grid" loading="lazy"
        /></a>
        <span class="mx-2 text-sm font-semibold">Dashboard</span>
      </li>
      <li>
        <a>
          <img
            src="/assets/icons/employees-outline.svg"
            alt="employees"
            loading="lazy"
        /></a>
        <span class="mx-2 text-sm font-semibold">Employees</span>
      </li>
      <li>
        <a>
          <img
            src="/assets/icons/employees-outline.svg"
            alt="employees"
            loading="lazy"
        /></a>
        <span class="mx-2 text-sm font-semibold">Departments</span>
      </li>
    </ul>
  </div>
</div>
